<p>Il vous faut vous connecter à votre espace personnel pour planifier vos propres événements, et participer à d’autres.</p>
<p>Votre adresse mail sera utilisée uniquement dans le but de vous envoyer des notifications concernant les événements auxquels vous vous êtes inscrit(e).</p>
<p>Pour en savoir plus sur la façon dont fonctionnent les cookies et comment nous gérons vos données, consultez nos <a href="#">conditions générales d’utilisation</a> et notre <a href="#">politique de confidentialité</a>.</p>